@import url('./theme.css');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-color: #f5f5f5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
/**
Overwrite react alert
*/
#__react-alert__ > div > div > div {
  background-color: #ffc107 !important;
  width: auto !important;
}
