// ------------------ FONTS ------------------
@import 'https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap';
$font-family: 'Roboto Slab', serif;
$font-small: 0.5rem;
$font-medium: 0.9rem;
$font-large: 1.3rem;

// ------------------ COLOURS ------------------
$background: #f5f5f5;
$font-color: #555555;
$blue: #5882e3;
$black: #343a40;
$gray: #ced4da;
$living-room: #17a2b8;
$backyard: #28a745;
$kitchen: #ffc107;
