.container{display:flex;justify-content:flex-end;max-width:85%;padding-bottom:4rem;grid-gap:1rem}.container li{display:flex;grid-gap:1rem;align-items:center}.container .coloured-cell{width:3rem;height:1.5rem;display:inline-block}