@import '../../styles/theme.scss';

.button {
  padding: 0.7rem;
  background-color: $black;
  color: white;
  border-radius: 0.4rem;
  border: none;
  width: 5rem;
  font-size: $font-medium;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
