@import'https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap';.button{padding:.7rem;background-color:#343a40;color:#fff;border-radius:.4rem;border:none;width:5rem;font-size:.9rem;display:flex;justify-content:space-around;cursor:pointer}