@import '../../styles/theme.scss';
.form {
  max-width: 80%;
  margin: auto;
  background-color: white;
  padding: 3rem;
  font-size: $font-large;
  border-radius: 0.3rem;
  height: 18rem;
  .label {
    color: $blue;
  }
  .body {
    display: flex;
    align-items: flex-end;
    .inputs {
      max-height: 6.7rem;
      width: 93%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: flex-start;
      grid-gap: 0.5rem;
      margin-right: 1rem;
    }
  }
}
