@import '../../styles//theme.scss';

.container {
  * {
    color: $font-color;
  }
  max-width: 80rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  .label {
    position: relative;
    top: 2rem;
  }
  .calendar {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  .time-row {
    height: 0;
  }
  h3 {
    font-weight: 400;
  }
  .cell {
    width: 3rem;
    text-align: center;
    display: flex;
  }
  .row {
    height: 3rem;
  }
  .cells {
    display: flex;
    justify-content: center;
    height: 3rem;
  }
  .loading {
    opacity: 0.5;
    pointer-events: none;
  }
}
