@import '../../styles/theme.scss';

.container {
  max-width: 18rem;
  * {
    color: $font-color;
  }
  .label {
    text-align: left;
    text-transform: capitalize;
    padding-left: 0.5rem;
  }
  .dropdown {
    border-radius: 0.4rem;
    border: 0.1rem solid $gray;
    background-color: white;
    .header {
      min-height: 2.2rem;
      padding: 0.5rem;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: $font-medium;
    }
    .body {
      padding: 0.4rem;
      border-top: 0.1rem solid #e5e8ec;
      display: none;
      max-height: 10rem;
      overflow: scroll;
    }
    .body.open {
      display: block;
    }
    .item {
      padding: 0.5rem;
      font-size: $font-medium;
    }
    .item:hover {
      cursor: pointer;
    }
    .item-dot {
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
    .item-dot.selected {
      opacity: 1;
    }
    .icon {
      font-size: $font-medium;
      transform: rotate(0deg);
      transition: all 0.1s ease-in-out;
    }
    .icon.open {
      transform: rotate(90deg);
    }
  }
}
